@charset "UTF-8";
/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ff0000;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 15px;
  color: #000;
  font-family: Arial;
  font-weight: 400;
  scroll-behavior: smooth;
  /**плавная прокрутка по якорям*/
}

body._lock {
  overflow: hidden;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-position: center top;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.window {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.window__open {
  background-color: rgba(41, 41, 41, 0.6);
  display: block;
  z-index: 1;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.logo__title {
  color: #545454;
  padding-top: 32px;
  margin-bottom: 10px;
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo__subtitile {
  color: #292929;
  margin-left: 2px;
  line-height: 15px;
  font-size: 13px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0px 0px 0px 36px;
}

.menu__link {
  color: #545454;
  line-height: calc(50 / 20 * 100%);
  font-weight: 400;
}

.active {
  cursor: default;
  color: #545454;
  padding-bottom: 4px;
  border-bottom: 3px solid #F1CDB3;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.our__friends__container {
  background-color: #F6F6F6;
  padding-top: 120px;
}

.modal {
  height: 0;
  margin: 0;
}

.our__friends__popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  opacity: 0;
  z-index: -1;
}

.open {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  z-index: 100;
}

.modalClose__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__popup__block {
  margin: 0px 180px;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalClose__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -50px;
  margin-right: -63px;
}

.our__friends__popup__block-info {
  margin-left: 29px;
  margin-top: 55px;
}

.info::before {
  margin: 0px 6px 0px 0px;
  color: #F1CDB3;
  content: "•";
}

li span {
  letter-spacing: 0.06em;
  margin-left: 10px;
}

.our__friends__popup__block-info {
  letter-spacing: 0.06em;
  color: #000000;
  font-family: "Georgia", sans-serif;
}

.our__friends__popup__block-info h3 {
  width: 145px;
  height: 45px;
  font-size: 35px;
  line-height: 130%;
}

.our__friends__popup__block-info h4 {
  margin-top: 10px;
  width: 151px;
  height: 23px;
  font-size: 20px;
  line-height: 115%;
}

.our__friends__popup__block-info h5 {
  margin-top: 40px;
  width: 350px;
  height: 102px;
  font-size: 15px;
  line-height: 110%;
  height: 102px;
}

.popup__block-info {
  margin-top: 34px;
}

.popup__block-info ul li {
  margin-bottom: 4px;
}

.our__friends {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__title {
  text-align: center;
  padding-top: 80px;
  font-family: "Georgia", sans-serif;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
  width: 400px;
}

.our__friends__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__about {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__about-animals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-animals__block {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-animals__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: "Georgia", sans-serif;
  letter-spacing: 0.06em;
}

.about-animals__block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.about-animals-button {
  border-radius: 100px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 187px;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  color: #292929;
  background-color: transparent;
}

.our__friends-button {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends-button-get {
  border-radius: 100px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 261px;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  margin-top: 60px;
  background-color: #F1CDB3;
  color: #292929;
}

.addition__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  margin-bottom: 100px;
}

.addition__info-title {
  font-family: "Georgia", sans-serif;
  width: 300px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__info-title__bank {
  margin-top: 20px;
  width: 308px;
  font-family: "Georgia", sans-serif;
  letter-spacing: 0.06em;
  color: #545454;
  line-height: 110%;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 159px;
}

.footer__info-title {
  width: 280px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-family: "Georgia", sans-serif;
  padding-top: 56px;
}

.footer__img {
  padding-top: 40px;
}

.footer__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info-contacts-all {
  margin-bottom: 53px;
}

.mail {
  width: 40px;
  height: 26px;
}

.footer__info-contacts-info {
  color: #F1CDB3;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 115%;
  font-family: "Georgia", sans-serif;
}

.phone {
  width: 40px;
  height: 32px;
}

.footer__info-pin-info a p {
  width: 260px;
  font-family: "Georgia", sans-serif;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 115%;
}

.pin {
  width: 22px;
  height: 32px;
}

.footer__info-pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel {
  color: #F1CDB3;
}

.main__hero-body-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our__friends-pagination-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends-paginations {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.our__friends-pagination {
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__block-close {
  margin-left: 932px;
}

.now {
  background-color: #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our__friends-pagination p {
  font-size: 20px;
}

@media (max-width: 1279px) and (min-width: 769px) {
  .header {
    padding-top: 86px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1279px) {
  .our__friends-paginations {
    margin-top: -3px;
    margin-bottom: 74px;
    gap: 20px;
  }
  .our__friends__about {
    margin-top: 29px;
  }
  .menu__list {
    padding-top: 0px;
  }
  .main__hero-body__img {
    padding-left: 44px;
  }
  .main__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modalClose__block {
    margin-top: -50px;
    margin-right: -89px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addition__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
  .footer__info {
    gap: 61px;
  }
  .footer__info-title {
    padding-top: 30px;
  }
  .footer__img {
    padding-top: 10px;
  }
  .logo__title {
    padding-top: 30px;
  }
  .our__friends__popup__block-info h5 {
    margin-top: 21px;
    width: 270px;
    font-size: 13px;
    line-height: 110%;
  }
  .popup__block-info {
    width: 300px;
    margin-top: 16px;
  }
  .our__friends__popup__block {
    margin: 0px 69px;
    width: 630px;
    height: 350px;
  }
  .our__friends__popup__block-info {
    margin-top: 10px;
    margin-left: 11px;
  }
  .popup__block-close {
    margin-left: 611px;
  }
  .our__friends__popup__block-img img {
    width: 350px;
    height: 350px;
  }
  .our__friends-slider__line {
    gap: 40px;
  }
  .our__friends__about-animals {
    width: 580px;
  }
  .header__menu {
    margin-left: 0px;
  }
  .main__hero-body-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ._container {
    padding: 0px 30px;
  }
  .main-block__image {
    height: 1165px;
  }
  .main__hero-body {
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__hero-body__info {
    padding-top: 150px;
    padding-left: 125px;
  }
  .header__hero-text {
    width: 459px;
  }
  .header__hero-button {
    margin-left: 125px;
  }
  .main__hero-body__img img {
    width: 569px;
    height: 593.45559px;
  }
  .main__hero-body__img {
    margin-top: 100px;
    padding-top: 0px;
    margin-left: 97px;
  }
  .main-block__image {
    background-image: url(../../assets/images/bg768.jpg);
  }
  .main__about {
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__about__pets-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__about__pets-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help__block-text {
    width: 170px;
  }
  .main-block__image {
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  }
  .popup__block-info ul li {
    margin-bottom: 0px;
  }
}

@media (max-width: 767.5px) {
  .header__menu-icon {
    z-index: 20;
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
  }
  .header__menu-icon span,
  .header__menu-icon::before,
  .header__menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    background-color: #F1CDB3;
  }
  .header__menu-icon::before,
  .header__menu-icon::after {
    content: "";
  }
  .header__menu-icon::before {
    top: 0;
  }
  .header__menu-icon::after {
    bottom: 0;
  }
  .header__menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__menu-icon._active span {
    -webkit-transform: rotate(90deg) translate(0px, 10px);
            transform: rotate(90deg) translate(0px, 10px);
  }
  .header__menu-icon._active::before {
    top: 50%;
    -webkit-transform: rotate(90deg) translate(0px, -50%);
            transform: rotate(90deg) translate(0px, -50%);
  }
  .header__menu-icon._active::after {
    top: 50%;
    -webkit-transform: rotate(90deg) translate(0px, 22px);
            transform: rotate(90deg) translate(0px, 22px);
  }
  .header__menu {
    width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -320px;
  }
  .header__menu._active {
    width: 320px;
    z-index: 15;
    position: fixed;
    background-color: #F6F6F6;
    right: 0;
  }
  .menu__list {
    gap: 41px;
    padding-top: 248px;
    width: 320px;
    background-color: #F6F6F6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
  .menu__link {
    line-height: 160%;
    font-size: 32px;
    font-family: 'Arial';
    color: #545454;
  }
  .header__logo {
    z-index: 100;
  }
  /**/
  .popup__block-info ul li {
    margin-bottom: -2px;
  }
  .our__friends-paginations {
    margin-top: -3px;
    margin-bottom: 41px;
    gap: 10px;
  }
  .our__friends__about-animals {
    width: 270px;
  }
  .our__friends-slider__line {
    gap: 0px;
  }
  .our__friends__popup__block {
    width: 240px;
    height: 341px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our__friends__popup__block-img img {
    display: none;
  }
  .popup__block-close {
    margin-left: 195px;
  }
  .our__friends__popup__block-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
  }
  .our__friends__popup__block-info h5 {
    letter-spacing: 0.06em;
    margin-top: 22px;
    width: 220px;
    text-align: justify;
  }
  .popup__block-info {
    max-width: 200px;
    margin-top: 34px;
  }
  .popup__block-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our__friends__popup__block-info h4 {
    width: 149px;
  }
  .header__hero-title {
    text-align: center;
    font-size: 25px;
    width: 220px;
    letter-spacing: 0.06em;
  }
  .header__hero-text {
    text-align: center;
    width: 300px;
  }
  .main__hero-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 20px;
  }
  .main__hero-body__info {
    padding-left: 0px;
  }
  .main__hero-body__img {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 105px;
    margin-right: 43px;
  }
  .main__hero-body__img img {
    width: 260px;
    height: 271.17479px;
    margin-left: 40px;
  }
  .main-block__image {
    height: 823px;
  }
  .main__about__pets-text {
    text-align: center;
  }
  .addition__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addition__info-title {
    text-align: center;
    font-size: 25px;
    width: 210px;
  }
  .addition__info-title__bank-text {
    text-align: center;
    width: 280px;
    text-align: justify;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .footer__info-left {
    padding-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info-rigth {
    padding-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info-title {
    text-align: center;
    font-size: 25px;
    padding-top: 0px;
  }
  .footer__info-contacts-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
  .main__about__pets-text-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .centers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help__block-text {
    font-size: 15px;
    line-height: 110%;
    margin-top: 20px;
    width: 139px;
    letter-spacing: 0.06em;
  }
  .help__block-all {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 58px 0px 42px 0px;
    margin-top: 42px;
    row-gap: 30px;
    -webkit-column-gap: 31px;
            column-gap: 31px;
    width: 301px;
  }
  .help__title {
    padding-top: 42px;
    font-size: 25px;
    width: 300px;
  }
  .main__about__pets__title {
    font-size: 25px;
    margin-top: 42px;
  }
  .addition__img-dog {
    width: 260px;
    height: 134.37624px;
  }
  .header__menu-icon {
    margin-right: 43px;
    width: 30px;
    height: 22px;
    margin-top: 0px;
  }
  .addition__block {
    padding-top: 47px;
    margin-bottom: 39px;
    gap: 43px;
  }
  .header__hero-button {
    margin-left: 46px;
  }
  .our__friends__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
    padding-top: 42px;
  }
  .our__friends__about-arrow.right {
    position: relative;
    top: 20px;
    left: 66px;
  }
  .our__friends__about-arrow.left {
    position: relative;
    top: 510px;
    left: -66px;
  }
  .our__friends-button {
    margin-bottom: 41px;
  }
  .our__friends__popup__block-info h3 {
    letter-spacing: 0.07em;
  }
  .logo__subtitile {
    margin-left: 4px;
  }
  ._container {
    padding: 0px 10px;
  }
  .main__about__pets-img img {
    margin-top: 42px;
    width: 260px;
    height: 353.6px;
    margin-bottom: 42px;
  }
  .our__friends__title {
    font-size: 25px;
    width: 300px;
    padding-top: 42px;
  }
  .main__about__pets__text {
    width: 270px;
    text-align: justify;
  }
  .pets__text2 {
    margin-top: 22px;
  }
  .footer__img img {
    width: 260px;
    height: 269px;
  }
  .help__block {
    width: 135px;
  }
  .food {
    width: 50px;
    height: 50px;
  }
  .Transportation {
    width: 50px;
    height: 50px;
  }
  .Toys {
    width: 50px;
    height: 50px;
  }
  .Bowls {
    width: 50px;
    height: 50px;
  }
  .Shampoos {
    width: 50px;
    height: 50px;
  }
  .Vitamins {
    width: 50px;
    height: 50px;
  }
  .Medicines {
    width: 50px;
    height: 50px;
  }
  .Collars {
    width: 50px;
    height: 50px;
  }
  .Sleeping {
    width: 50px;
    height: 50px;
  }
  .addition__info-title__bank {
    margin-top: 20px;
    width: 273px;
    letter-spacing: 0em;
    line-height: 160%;
  }
  .addition__info-title__bank-code {
    height: 43px;
    width: 281px;
  }
  .bank-code {
    width: 206px;
    font-size: 15px;
    line-height: 110%;
  }
  .footer__info-pin {
    margin-top: 40px;
    text-align: left;
  }
  .footer__img {
    padding-top: 27px;
  }
  .our__friends-button-get {
    margin-top: 64px;
  }
}

@media (max-width: 766px) {
  .our__friends__popup__block-info h3 {
    font-size: 20px;
    height: 28px;
  }
  .our__friends__popup__block-info h4 {
    font-size: 15px;
  }
}

@media (min-width: 1281px) {
  ._container {
    max-width: 1200px;
  }
  .header__logo {
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 1300px) {
  .main__hero-body {
    padding: 0px 20px;
  }
}

.menu__link:hover {
  color: #292929;
}

.about-animals__block:hover {
  background-color: #FFF;
  cursor: pointer;
}

.about-animals__block:hover .about-animals-button {
  border: none;
  background: #FDDCC4;
}

.our__friends__popup:hover {
  cursor: pointer;
}

.our__friends__popup__block:hover {
  cursor: default;
}

.modalClose__block:hover {
  border: none;
  background: #FDDCC4;
}

.header__active {
  background-color: rgba(41, 41, 41, 0);
}

.effect:hover {
  -webkit-animation: pulse .9s infinite  linear;
          animation: pulse .9s infinite  linear;
}

@-webkit-keyframes pulse {
  0% {
    text-shadow: 0 0 0 black;
  }
  100% {
    text-shadow: 0 0  50px #292929;
  }
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 0 black;
  }
  100% {
    text-shadow: 0 0  50px #292929;
  }
}

body._lock {
  overflow: hidden;
}

.back {
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

/**.back:disabled{
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
}
.forward:hover{
    border: none;
    background: #FDDCC4;
    cursor: pointer;
}
.forward:disabled, .forward:disabled:hover{
    border: 2px solid #CDCDCD;
    background: transparent;
    cursor: default;
}
.full-forward:hover{
    border: none;
    background: #FDDCC4;
    cursor: pointer;
}**/
.our__friends-pagination.now {
  background: #FDDCC4;
}

.our__friends-pagination:disabled {
  background: transparent;
  border: 2px solid #CDCDCD;
  cursor: default;
}

.our__friends-pagination:disabled:hover {
  background: transparent;
  border: 2px solid #CDCDCD;
  cursor: default;
}

.our__friends-pagination:hover {
  border: none;
  background: #FDDCC4;
  cursor: pointer;
}

.our__friends-pagination {
  border: 2px solid #FDDCC4;
  background: transparent;
  cursor: pointer;
}

.slide-in {
  -webkit-animation: slide-in 2s forwards;
          animation: slide-in 2s forwards;
}

@-webkit-keyframes slide-in {
  from {
    right: -320px;
  }
  to {
    right: 0;
  }
}

@keyframes slide-in {
  from {
    right: -320px;
  }
  to {
    right: 0;
  }
}

.slide-out {
  -webkit-animation: slide-out 2s forwards;
          animation: slide-out 2s forwards;
}

@-webkit-keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}

.slide-add {
  -webkit-animation: slide-add 2s forwards;
          animation: slide-add 2s forwards;
}

@-webkit-keyframes slide-add {
  from {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

@keyframes slide-add {
  from {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

.logo-add {
  -webkit-animation: logo-add 2s forwards;
          animation: logo-add 2s forwards;
}

@-webkit-keyframes logo-add {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(100% - 290px);
  }
}

@keyframes logo-add {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(100% - 290px);
  }
}
/*# sourceMappingURL=style.css.map */