*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: #000;
  font-family: Arial;
  font-weight: 400;
  scroll-behavior: smooth;
  margin: 0px;
}
a{
  color: #fff;
  text-decoration: none;
}
.wrapper{
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-position: center top;
}
.header{
  width: 100%;
  padding-top: 35px;
  background: #005aab;
  height: 65px;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  padding: 0px 40px;
  margin: 0px auto;
  max-width: 1200px;
}
.favorite{
  display: flex;
  align-items: center;
}
.basket{
  width: 30px;
  height: 30px;
  margin-right: -12px;
  margin-top: 7px;
}
.quantity{
  color: #FFFFFF;
  font-size: 26px;
  width: 20px;
}
.main{
  margin-top: 40px;
  flex: 1 1 auto;
  display: flex;
}
.main__container {
  flex: 1 1 auto;
  display: flex;
}
.sidebar-left{
  position: relative;
  z-index: 100;
  min-width: 200px;
}
.sidebar-left__title{
  border-bottom: 1px solid #EEE;
  font-size: 14px;
  font-family: "co_headline_corpbold";
  font-weight: bold;
  margin: 0 0 0 -19px;
  padding: 10px 5px 10px 5px;
  line-height: normal;
}
.title{
  color: #333;
  display: block;
  padding-left: 19px;
}
.sidebar-left__button-container{
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 15px;
}
.sidebar-left__button{
  line-height: 19px;
  padding: 0px 3px;
  margin-bottom: 4px;
  position: relative;
}
.checkbox-box__container{
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #005baa;
  display: block;
  position: static;
  padding: 4px 3px 3px 6px;
}
.checkbox-box{
  display: block;
  height: 15px;
  cursor: pointer;
  align-items: center;
  padding: 4px 6px; 
}
.checkbox-box__container:hover{
  cursor: pointer;
  color: rgb(226, 24, 24);
}
.active__button{
  background: #f0f0f0;
  border-radius: 6px;
  color: #005baa;
}
.active__button:hover{
  background: #f0f0f0;
  border-radius: 6px;
  color: #005baa;
}
.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-container__box{
  background: rgb(255, 255, 255);
  width: 190px;
  max-width: 190px;
  padding: 30px 50px 55px;
}
.product-container__box-info{
  width: 180px;
  max-width: 190px;
  margin: 0;
}
.product-container__box-img{
  position: relative;
  display: flex;
  justify-content: center;
}
.box-img{
  width: 170px;
  position: static;
}
.box-info__title{
  text-align:center;
  padding: 5px 1px;
  display: block;
  font-size: 14px;
  width: 100%;
}
.box-info__price{
  padding: 6px 1px;
  color: #005baa;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
}
.svg{
  color: #f4f4f4;
  position: absolute;
  width: 59px;
  height: 40px;
  left: 120px;
  right: 0px;
  top: 0px;
}
.box-info__season{
  padding: 2px 1px;
  font-size: 10px;
  color: rgb(81, 75, 75);
  text-align: center;
}
.box-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-info__quantity{
  padding: 6px 1px;
  font-size: 12px;
  color: rgb(147 156 166);
  text-align: center;
  font-weight: bold;
}
input.search {
  max-width: 300px;
  margin-right: 15px;
}
.search__container input {
  border: 2px solid rgb(186, 210, 253);
  height: 8px;
  padding: 10px;
  border-radius: 3px;
  color: #000;
}
.search__container input:active {
  border: 2px solid rgb(186, 210, 253);
  height: 8px;
  padding: 10px;
  border-radius: 3px;
  color: #000;
}
.box-info__basket{
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket__button{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px;
  border-radius: 23%;
  height: 30px;
  width: 74px;
  background-color: rgb(192, 212, 249);
}
.basket__button:hover{
  cursor: pointer;
  background-color: rgb(151, 182, 239);
}
.center__sort{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  max-width: 1000px;
}
.reset{
  color: rgb(108, 132, 179);
}
.button__reset{
  display: flex;
  margin-top: 10px;
  width: 90%;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(219 232 255);
  align-items: center;
  justify-content: center;
}
.button__reset:hover{
  cursor: pointer;
  background-color: rgb(186, 210, 253);
}
.container__sort{
  border: 2px solid rgb(186, 210, 253);
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 30px;
  color: #838383;
  margin-left: 60px;
}
.container__range{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 80px;
  background: #fff;
  border-radius: 20px;
}
.numberVal{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 185px;
  align-items: center;
}
.numberVal__quantity{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 185px;
  align-items: center;
}
input[type="number"]{
  width: 70px;
  height: 25px;
  background: #fff;
  border: 1px solid rgb(132, 176, 225);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.range-slider{
  position: relative;
  width: 185px;
  height: 5px;
  background: #ddd;
  outline: none;
  top: 1px;
  margin: 10px;
}
.range-slider__quantity{
  position: relative;
  width: 185px;
  height: 5px;
  background: #ddd;
  outline: none;
  top: 1px;
  margin: 10px;
}
.progress{
  left: 0%;
  right: 0%;
  height: 100%;
  background: rgb(132, 176, 225);
  border-radius: 50px;
  position: absolute;
}
.progress__quantity{
  left: 0%;
  right: 0%;
  height: 100%;
  background: rgb(132, 176, 225);
  border-radius: 50px;
  position: absolute;
}
input[type="range"]{
  cursor: grab;
  position: absolute;
  top: -6px;
  left: 0px;
  width: 100%;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}
input::-webkit-slider-thumb{
  pointer-events: auto;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 3px solid rgb(132, 176, 225);
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
.footer{
  height: 100px;
  width: 768px;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__git{
  text-decoration: none;
  color: #444;
}
.rss:hover {
  fill: rgb(0, 0, 0);;
}
.rss {
  width: 100px;
  height: 70px;
  fill: rgb(119, 119, 119);
}
@media (max-width: 900px){
  .product-container__box {
    padding: 30px 55px 55px;
  }
  .product-container {
    justify-content: center;
  }
  .footer{
    width: 400px;
    max-width: 1000px;
  }
}
@media (max-width: 880px){
  .center__sort {
    height: 85px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
  }
  .container__sort {
    height: 30px;
    margin-left: 0px;
  }
  .search__container{
    margin-top: 20px;
  }
  input.search {
    margin-right: 0px;
  }
  .product-container__box {
    padding: 30px 24px 55px;
  }

}