*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: #000;
  font-family: Arial;
  font-weight: 400;
  scroll-behavior: smooth;
  margin: 0px;
}
a{
  color: #fff;
  text-decoration: none;
}
.wrapper{
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-position: center top;
}
.header{
  width: 100%;
  padding-top: 15px;
  background: #005aab;
  height: 65px;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  padding: 0px 40px;
  margin: 0px auto;
  max-width: 1200px;
}
.favorite{
  display: flex;
  align-items: center;
}
.basket{
  width: 50px;
  height: 50px;
}
.quantity{
  color: #FFFFFF;
  font-size: 20px;
}
.main{
  margin-top: 40px;
  flex: 1 1 auto;
  display: flex;
}
.main__container {
  flex: 1 1 auto;
  display: flex;
}
.sidebar-left{
  position: relative;
  z-index: 100;
  min-width: 200px;
}
.sidebar-left__title{
  border-bottom: 1px solid #EEE;
  font-size: 14px;
  font-family: "co_headline_corpbold";
  font-weight: bold;
  margin: 0 0 0 -19px;
  padding: 10px 5px 10px 5px;
  line-height: normal;
}
.title{
  color: #333;
  display: block;
  padding-left: 19px;
}
.sidebar-left__button-container{
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 15px;
}
.sidebar-left__button{
  line-height: 19px;
  padding: 0px 3px;
  margin-bottom: 4px;
  position: relative;
}
.checkbox-box__container{
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #005baa;
  display: block;
  position: static;
  padding: 4px 3px 3px 6px;
}
.checkbox-box{
  display: block;
  height: 15px;
  cursor: pointer;
  align-items: center;
  padding: 4px 6px; 
}
.checkbox-box__container:hover{
  cursor: pointer;
  color: rgb(226, 24, 24);
}
.active__button{
  background: #f0f0f0;
  border-radius: 6px;
  color: #005baa;
}
.active__button:hover{
  background: #f0f0f0;
  border-radius: 6px;
  color: #005baa;
}
.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-container__box{
  background: rgb(255, 255, 255);
  width: 190px;
  max-width: 190px;
  padding: 30px 50px;
}
.product-container__box-info{
  width: 190px;
  max-width: 190px;
  margin: 0;
}
.product-container__box-img{
  position: relative;
  display: flex;
  justify-content: center;
}
.box-img{
  width: 170px;
  position: static;
}
.box-info__title{
  text-align:center;
  padding: 5px 1px;
  display: block;
  font-size: 12px;
  width: 100%;
}
.box-info__price{
  padding: 6px 1px;
  color: #005baa;
  font-family: "co_headline_corpbold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
}
.svg{
  color: #f4f4f4;
  position: absolute;
  width: 59px;
  height: 40px;
  left: 120px;
  right: 0px;
  top: 0px;
}
.box-info__season{
  padding: 2px 1px;
  font-size: 10px;
  color: rgb(81, 75, 75);
  text-align:center;
}
.box-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-info__quantity{
  padding: 6px 1px;
  font-size: 12px;
  color: rgb(147 156 166);
  text-align: center;
  font-weight: bold;
}


input.search {
  max-width: 300px;
  margin-right: 15px;
}
input {
  height: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 20%);
}

.box-info__basket{
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__button{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px;
  border-radius: 23%;
  height: 30px;
  width: 74px;
  background-color: rgb(192, 212, 249);
}
.basket__button:hover{
  cursor: pointer;
  background-color: rgb(151, 182, 239);
}
.center__sort{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content:left;
  display: flex;
  width: 1000px;
}
.reset{
  color: rgb(108, 132, 179);
}
.button__reset{
  display: flex;
  margin-top: 10px;
  width: 90%;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(219 232 255);
  align-items: center;
  justify-content: center;
}
.button__reset:hover{
  cursor: pointer;
  background-color: rgb(186, 210, 253);
}
.container__sort{
  border: 1px solid rgb(219 232 255);
  background-color: rgb(219 232 255);
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 30px;
  color: rgb(108, 132, 179);
  margin-left: 60px;
}