$font-georgia: 'Georgia', sans-serif;
/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a:hover{
	transition: .3s;
	text-decoration: none;

}
a{
	text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    
    line-height: 160%;
    height: 100%;
    font-size: 15px;
    color: #000;
	 font-family: Arial;
	 font-weight: 400;
	 scroll-behavior: smooth; /**плавная прокрутка по якорям*/
}
body._lock{
	overflow: hidden;
}
.wrapper {
    flex: 1 1 auto;
    margin: 0 auto;
    background-color:#FFFFFF;
    background-position: center top;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.window{
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.window__open{
    background-color: rgba(41, 41, 41, 0.6);
    display: block;
    z-index: 11;
}
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
._container {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 40px;
    box-sizing: content-box;
}

    .logo__title{
        color: #F1CDB3;
    padding-top: 60px;
    margin-bottom: 10px;
    font-family: $font-georgia;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.logo__subtitile{
    color: #fff;
    margin-left: 2px;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 0.1em;
}


.menu__list {
    display: flex;
    padding-top: 56px;
}
.menu__item {
    padding: 0px 0px 0px 36px;
}
.menu__link {
    color: #CDCDCD;
    line-height: calc(50 / 20 * 100%);
    font-weight: 400;
}

.active {
    color: #FAFAFA;
    padding-bottom: 4px; 
    border-bottom: 3px solid #F1CDB3;
}

.main {
    flex: 1 1 auto;
}
.main-block {
    position: relative;
}
.main__hero-body{
    display: flex;
    justify-content: space-between;
}
.main__hero-body__info{
    padding: 343px 0px 0px 0px;
    position: relative;
    z-index: 2;
    max-width: 500px;
}
.header__hero-title {
    width: 310px;
    font-family: $font-georgia;
    font-size: 44px;
    line-height: 130%;
    color: #fff;
}
.header__hero-text {
    color: #CDCDCD;
    margin-top: 42px;
    width: 465px;
}
.header__hero-button {
    border-radius: 100px;
    letter-spacing: 0.06em;
    height: 52px;
    width: 207px;
    font-size: 17px;
    line-height:  130%;
    cursor: pointer;
    font-family: $font-georgia;
    margin-top: 42px;
    background-color: #F1CDB3;
    color: #000;
}
.main__hero-body__img{
    padding-top: 180px;
    z-index: 10;
    padding-left: 42px;
}
.main-block__image {
    background-position: center top;
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
    position: absolute;
    width: 100%;
    height: 907px;
    top: 0;
    left: 0;
}
._ibg {
}
.main__about{
    display: flex;
    justify-content: center;
    gap: 120px;
}
.main__about__pets-img img{
    margin-top: 80px;
    margin-bottom: 100px;
}
.main__about__pets__title{
    color: #545454;
    margin-top: 94px;
    font-family: $font-georgia;
    font-size: 35px;
    width: 370px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.main__about__pets__text{
    color: #4C4C4C;
    margin-top: 25px;
    width: 430px;
}
.our__friends__container{
     background-color: #F6F6F6;
}
.modal{
    height: 0;
    margin: 0;
}

.our__friends__popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

}
.info::before{
    margin: 0px 6px 0px 0px;
    color: #F1CDB3; 
    content: "•";
}
li span{
    letter-spacing: 0.06em;
    margin-left: 10px;
}
.close{
    opacity: 0;
    z-index: -1;
}
.open{
    flex-direction: column;
    opacity: 1;
    z-index: 100;
}
.our__friends__popup__block{
    margin: 0px 180px;
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    border-radius: 9px;
    display: flex;
}
.modalClose__block{
    position: relative;
    display: flex;
    justify-content: flex-end;    
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}
.our__friends__popup__block-info{
    margin-left: 29px;
    margin-top: 55px;
}
.our__friends__popup__block-info {
    letter-spacing: 0.06em;
    color: #000000;
    font-family: $font-georgia;
    h3{
        width: 145px;
        height: 45px;
        font-size: 35px;
        line-height: 130%;
    }
    h4{
        margin-top: 10px;
        width: 151px;
        height: 23px;
        font-size: 20px;
        line-height: 115%;
    }
    h5{
        margin-top: 40px;
        width: 350px;
        height: 102px;
        font-size: 15px;
        line-height: 110%;
        height: 102px;
    }
}
.popup__block-info{
    margin-top: 34px;
}
.popup__block-info ul li{
    margin-bottom: 4px;

}
.popup__block-close{
    margin-left: 932px;
}
.our__friends{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.our__friends__title{
    text-align: center;
    padding-top: 80px;
    font-family: $font-georgia;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    width: 400px;
}
.our__friends__title-block{
    display: flex;
    justify-content: center;
}
.our__friends__about{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our__friends__about-animals {
    width: 990px;
    overflow: hidden;
}
.about-animals__block{
    background-color: #FAFAFA;
     display: flex;
    flex-direction: column
}
.our__friends-slider__line{
    left: 0%;
    gap: 90px;
   justify-content: space-between;
    display: flex;
    position: relative;
    transition: all ease 1s;
}
.about-animals__block-name{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    font-family: $font-georgia;
    letter-spacing: 0.06em;
}
.about-animals__block-button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.about-animals-button{
        border-radius: 100px;
        letter-spacing: 0.06em;
        height: 52px;
        width: 187px;
        font-size: 17px;
        line-height: 130%;
        cursor: pointer;
        font-family: $font-georgia;
        margin-top: 30px;
        border:  2px solid #F1CDB3;
        color: #292929;
        background-color: transparent;
}
.our__friends-button{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.our__friends-button-get{
    border-radius: 100px;
    letter-spacing: 0.06em;
    height: 52px;
    width: 261px;
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;
    font-family: $font-georgia;
    margin-top: 60px;
    background-color: #F1CDB3;
    color: #292929;
}
.help{
    background-color: #FFFFFF;
}
.help__title{
    text-align: center;
    padding-top: 80px;
    font-family: $font-georgia;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    width: 310px;
}
.help__block-all{
    margin: 58px 20px 100px 20px;
   display: flex;
   row-gap: 55px;
    column-gap: 120px;
   flex-wrap: wrap;
   justify-content: center;
}
.help__block-icon{
    display: flex;
    justify-content: center;
}
.help__block-text{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: $font-georgia;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #545454;
}
.help__block{
    display: flex;
    flex-direction: column;
}
.food{ 
    width: 47.86px;
    height: 60px;
    
}
.Transportation{
    height: 60px;
   width: 59.95px;
}
.Toys{
    width: 60px;
    height: 60px;
}
.Bowls{
    width: 56.82px;
    height: 60px;
}
.Shampoos{
    width: 31.3px;
    height: 60px;
}
.Vitamins{
    width: 54.16px;
    height: 60px; 
}
.Medicines{
    width: 60px;
    height: 60px; 
}
.Collars{
    width: 52.43px;
    height: 60px; 
}
.Sleeping{
    width: 56.29px;
    height: 60px; 
}
.addition__container{
    background-color:  #F6F6F6;
}
.addition{
   display: flex;
   justify-content: center;
}
.addition__block{
    align-items: center;
    gap: 30px;
    display: flex;
    padding-top: 80px;
    margin-bottom: 100px;
}
.addition__info-title{
    font-family: $font-georgia;
    width: 300px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.addition__info-title__bank{
    margin-top: 20px;
    width: 308px;
    font-family: $font-georgia;
    letter-spacing: 0.06em;
    color: #545454;
    line-height: 110%;
}
.addition__info-title__bank-code{
    margin-top: 20px;
    border-radius: 9px;
    cursor: pointer;
    background-color: #F1CDB3;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 349px;
}
.bank-code{
    letter-spacing: 0.06em;
    width: 275px;
    font-size: 20px;
    line-height:  130%;
    font-family: $font-georgia;
    color: #545454;
}
.addition__info-title__bank-text{
    margin-top: 20px;
    width: 380px;
    font-family: 'Arial';
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
.credit{
    width: 30px;
    height: 23px;
}
.footer{
    flex: 1 1 auto;
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
}
.footer__block {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer__info{
    display: flex;
    gap: 159px;
}
.footer__info-title{
    width: 280px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-family: $font-georgia;
    padding-top: 56px;
}
.footer__img{
    padding-top: 40px;
}
.footer__info-contacts{
    display: flex;
    margin-top: 39px;
    gap: 20px;
    align-items: center;
}
.footer__info-contacts-all{
    margin-bottom: 53px;
}
.mail{
    width: 40px;
    height: 26px;
}
.footer__info-contacts-info{
    color: #F1CDB3;
    letter-spacing: 0.06em;
    font-size: 20px;
    line-height: 115%;
    font-family: $font-georgia;
}
.phone{
    width: 40px;
    height: 32px;
}
.footer__info-pin-info a p{
    width: 260px;
    font-family: $font-georgia;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    font-size: 20px;
    line-height: 115%;
}
.pin{
    width: 22px;
    height: 32px;
}
.footer__info-pin{
    display: flex;
    margin-top: 32px;
    gap: 20px;
    align-items: center;
}
.tel{
    color: #F1CDB3;
}
.main__hero-body-all{
    display: flex;
}
.our__friends__about-arrow{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1279px) and (min-width: 768px){ 
    .header{
        padding-top: 86px;
        left:50%;
        transform:translate(-50%, -50%);
        width: 768px;
        justify-content: space-between;
    }
}
@media (max-width: 1279px){
    .main__hero-body__img {
        padding-left: 44px;
    }
    .main__hero{
        display: flex;
        justify-content: center;
    }
   
    .modalClose__block{
        margin-top: -50px;
        margin-right: -89px;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__block {
        flex-direction: column;
    }
    .addition__block {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .footer__info {
        gap: 61px;
    }
    .footer__info-title {
        padding-top: 30px;
    }
    .footer__img {
        padding-top: 10px;
    }
    .logo__title{       
        padding-top: 30px;
        }
    .our__friends__popup__block-info h5 {
        margin-top: 21px;
        width: 270px;
        font-size: 13px;
        line-height: 110%;
    }
    .popup__block-info {
        margin-top: 10px;
    }
    .our__friends__popup__block {
        margin: 0px 69px;
        width: 630px;
        height: 350px;
    }
    .our__friends__popup__block-info {
        margin-top: 10px;
        margin-left: 11px;
    }
    .popup__block-close {
        margin-left: 611px;
    }
    .our__friends__popup__block-img img {
        width: 350px;
        height: 350px;
    }
    .our__friends-slider__line {
        gap: 40px;
    }
    .our__friends__about-animals {
        width: 270px + 270px + 40px;
    }
    .header__menu{
        margin-left: 0px;
    }
    .main__hero-body-all{
        flex-direction: column;
    }
    ._container {
        padding: 0px 30px;
    }
    .main-block__image {
        height: 1165px;
    }
    .menu__list {
        padding-top: 29px;
    }
    .main__hero-body {
        width: 768px;
        justify-content: center;
        flex-direction: column;
    }
    .main__hero-body__info {
        padding-top: 150px;
        padding-left: 125px;
    }
    .header__hero-text {
        width: 459px;
    }
    .header__hero-button {
        margin-left: 125px;
    }
    .main__hero-body__img img{
		width: 569px;
        height: 569px * 728px / 698px;
	}
    .main__hero-body__img {
        margin-top: 100px;
        padding-top: 0px;
        margin-left: 97px;
    }
    .main-block__image {
        background-image: url(../../assets/images/bg768.jpg);
    }
    .main__about{
        gap: 0px;
        flex-direction: column-reverse;
    }
    .main__about__pets-img{
        display: flex;
        justify-content: center;
    }
    .main__about__pets-text{
        display: flex;
        justify-content: center;
    }
    .main__about__pets__title{
        margin-top: 80px;
    }
    .main__about__pets__text {
        width: 430px;
    }
    .help__block-all{
        width: 660px;
       row-gap: 55px;
        column-gap: 35px;
       flex-wrap: wrap;
       justify-content: space-around;
    }
    .help__block-text {
        width: 170px;
    }
    .main-block__image {
        background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
    }
    .popup__block-info ul li {
        margin-bottom: 0px;
    }
}
@media (max-width: 767.5px){
    // бургер 
    .header__menu-icon{
		z-index: 20;
		display: block;
		position: relative;
		width: 50px;
		height: 28px;
		cursor: pointer;
	}
	.header__menu-icon span,
	.header__menu-icon::before,
	.header__menu-icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.5s ease-out 0s;
		background-color: #F1CDB3
	}
	.header__menu-icon::before,
	.header__menu-icon::after{
		content: "";
	}
	.header__menu-icon::before{
		top: 0;

	}
	.header__menu-icon::after{
		bottom: 0;

	}
	.header__menu-icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	
	.header__menu-icon._active span{
		transform: rotate(90deg) translate(0px, 10px);
	}
	.header__menu-icon._active::before{
		top: 50%;
		transform: rotate(90deg) translate(0px, -50%);
	}
	.header__menu-icon._active::after{
		top: 50%;
		transform: rotate(90deg) translate(0px, 22px);
	}
    .header__menu {
        width: 320px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -320px;
    }
    .header__menu._active {
        width: 320px;
        z-index: 15;
        position: fixed;
        background-color: #292929;
        right: 0;

    }
    .menu__list {
        
        gap: 41px;
        padding-top: 248px;
        width: 320px;
        background-color: #292929;
        flex-direction: column;
    }
    .menu__item{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .menu__link{
        line-height: 160%;
        font-size: 32px;
        font-family: 'Arial';
        color: #FAFAFA;
    }
    .header__logo{
        z-index: 100;
    }
    /**/
    .popup__block-info ul li {
        margin-bottom: -2px;
    }
    .our__friends__about-animals {
        width: 270px;
    }
    .our__friends-slider__line {
        gap: 0px;
    }
    .our__friends__popup__block {
        width: 240px;
        height: 341px;
        display: flex;
        justify-content: center;
    }
    .our__friends__popup__block-img img {
        display: none;
    }
    .popup__block-close {
        margin-left: 195px;
    }
    .our__friends__popup__block-info {
        display: flex;
        flex-direction: column;
         margin: 10px;
    }
    .our__friends__popup__block-info h5 {
        letter-spacing: 0.06em;
        margin-top: 22px;
        width: 220px;
        text-align: justify;
    }
    .popup__block-info {
        margin-top: 34px;
    }
    .popup__block-right{
        display: flex;
        flex-direction: column;
    } 
    .block__popup{
        display: flex;
        justify-content: center;
    }
    .our__friends__popup__block-info h4 {
        width: 149px;
    }
    .header__hero-title {
        text-align: center;
        font-size: 25px;
        width: 220px;
        letter-spacing: 0.06em;
    }
    .header__hero-text {
        text-align: center;
        width: 300px;
    }
    .main__hero-body {
        justify-content: center;
        padding: 0px 20px;
    }
    .main__hero-body__info{
        padding-left: 0px;
    }
    .main__hero-body__img{
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 105px;
        margin-right: 43px;
    }
    .main__hero-body__img img {
        width: 260px;
        height: 260px * 728px / 698px;
        margin-left: 40px;
    }
    .main-block__image {
        height: 823px;
    }
    .main__about__pets-text{
        text-align: center;
    }
    .addition__info{
        display: flex;
        flex-direction: column;
    }
    .addition__info-title {
        text-align: center;
        font-size: 25px;
        width: 210px;
    }
    .addition__info-title__bank-text {
        text-align: center;
        width: 280px;
        text-align: justify;
    }
    .footer__info {
        flex-direction: column;
        gap: 0px;
    }
    .footer__info-left{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .footer__info-rigth{
        padding-top: 23px;
        display: flex;
        flex-direction: column;
    }
    .footer__info-title {
        text-align: center;
        font-size: 25px;
        padding-top: 0px;
    }
    .footer__info-contacts-all{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }
    .main__about__pets-text-all{
        display: flex;
        flex-direction: column;
    }
    .pets-text{
        display: flex;
        justify-content: center;
    }
    .centers{
        display: flex;
        justify-content: center;
    }
    .help__block-text {
        font-size: 15px;
        line-height: 110%;
        margin-top: 20px;
        width: 139px;
        letter-spacing: 0.06em;
    }
    .help__block-all{
        justify-content: space-between;
        margin: 58px 0px 42px 0px;
        margin-top: 42px;
        row-gap: 30px;
        column-gap: 31px;
        width: 301px;
    }
    .help__title {
        padding-top: 42px;
        font-size: 25px;
        width: 300px;
    }
    .main__about__pets__title {
        font-size: 25px;
        margin-top: 42px;
    }
    .addition__img-dog{
        width: 260px;
        height: 260px * 261px / 505px;
    }
    .header__menu-icon{
        margin-right: 43px;
        width: 30px;
        height: 22px;
        margin-top: 30px;
    }
    .addition__block {
        padding-top: 47px;
        margin-bottom: 39px;
        gap: 43px;
    }
    .header__hero-button {
        margin-left: 46px;
    }
    .our__friends__about {
        flex-direction: column;
        margin-top: -16px;
    }
    .our__friends__about-arrow.right{
        position: relative;
        top: 20px;
        left: 66px;
    }
    .our__friends__about-arrow.left{
        position: relative;
        top: 510px;
        left: -66px;
    }
    .our__friends-button {
        margin-bottom: 41px;
    }
    .our__friends__popup__block-info h3 {
        letter-spacing: 0.07em;
    }
    
    .logo__subtitile {
        margin-left: 4px;
    }
    ._container {
        padding: 0px 10px;
    }
    .main__about__pets-img img {
        margin-top: 42px;
        width: 260px;
        height: 260px * 408px / 300px;
        margin-bottom: 42px;
    }
    .our__friends__title {
        font-size: 25px;
        width: 300px;
        padding-top: 42px;
    }
    .main__about__pets__text {
        width: 270px;
        text-align: justify;
    }
    .pets__text2{
        margin-top: 22px;
    }
    .footer__img img{
        width: 260px;
        height: 269px;
    }
    .help__block{
        width: 135px;
    }
    .food {
        width: 50px;
        height: 50px;
    }
    .Transportation{
        width: 50px;
        height: 50px;
    }
    .Toys{
        width: 50px;
        height: 50px;
    }
    .Bowls{
        width: 50px;
        height: 50px;
    }
    .Shampoos{
        width: 50px;
        height: 50px;
    }
    .Vitamins{
        width: 50px;
        height: 50px; 
    }
    .Medicines{
        width: 50px;
        height: 50px;
    }
    .Collars{
        width: 50px;
        height: 50px;
    }
    .Sleeping{
        width: 50px;
        height: 50px; 
    }
    .addition__info-title__bank {
        margin-top: 20px;
        width: 273px;
        letter-spacing: 0em;
        line-height: 160%;
    }
    .addition__info-title__bank-code {
        height: 43px;
        width: 281px;
    }
    .bank-code {
        width: 206px;
        font-size: 14px;
        line-height: 110%;
    }
    .footer__info-pin {
        margin-top: 40px;
        text-align: left;
    }
    .footer__img {
        padding-top: 22px;
    }
    .our__friends-button-get {
        margin-top: 64px;
    }


}

@media  (min-width: 1281px){
    ._container {
        max-width: 1200px;
    }
    .header__logo {
        padding: 0px 0px 0px 0px;
    }

}
//hover
.about-animals__block:hover{
    background-color: #FFF;
    cursor: pointer;
}
.menu__link:hover {
    color: #FAFAFA;
}
.header__hero-button:hover {
    border: none;
    background: #FDDCC4;
}
.about-animals__block:hover .about-animals-button{
    border: none;
    background: #FDDCC4;
}
.our__friends__popup__block:hover + .popup__block-close{
    border: none;
    background: #FDDCC4;
}
.our__friends-button-get:hover {
    border: none;
    background: #FDDCC4;
}
.our__friends__about-arrow:hover {
    border: none;
    background: #FDDCC4;
    cursor: pointer;
}
.our__friends__popup:hover {
    cursor: pointer;
}
.our__friends__popup__block:hover {
    cursor: default;
}
.modalClose__block:hover {
    border: none;
    background: #FDDCC4;
}
//интерактивность
.effect:hover{  
   animation: pulse .9s infinite  linear; 
}

  @keyframes pulse {
    0%{text-shadow: 0 0 0  rgba( 0, 0, 0, 1); }
     100%{text-shadow: 0 0  50px #292929;}
   }
body._lock{
	overflow: hidden;
}
.slide-in {
    animation: slide-in 2s forwards;
}
  
  
@keyframes slide-in {
    from {
        right: -320px;
      }
      to {
        right: 0;
      }
  }

.slide-out{
animation: slide-out 2s forwards;
}

  @keyframes slide-out {
    from {
      left: 50%;
    }
    to {
        left: 100%;
    }
  }
  .slide-add{
    animation: slide-add 2s forwards;
    }
    
      @keyframes slide-add {
        from {
          left: 100%;
        }
        to {
            left: 100%;
        }
      }
.logo-add{
    animation: logo-add 2s forwards;
}
@keyframes logo-add {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 290px);
    }
}
