@charset "UTF-8";
/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #BDAE82;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 15px;
  color: #000;
  font-family: Arial;
  font-weight: 400;
  scroll-behavior: smooth;
  /**плавная прокрутка по якорям*/
}

body._lock {
  overflow: hidden;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-position: center top;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.logo__title {
  color: #F1CDB3;
  padding-top: 60px;
  margin-bottom: 10px;
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.04em;
}

.logo__subtitile {
  color: #fff;
  margin-left: 2px;
  line-height: 15px;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
}

.menu__item {
  padding: 0px 0px 0px 36px;
}

.menu__link {
  color: #CDCDCD;
  line-height: calc(50 / 20 * 100%);
  font-weight: 400;
}

.active {
  text-decoration: underline;
  color: #FAFAFA;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main__hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__hero-body__info {
  padding: 343px 0px 0px 0px;
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.header__hero-title {
  width: 310px;
  font-family: "Georgia", sans-serif;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
}

.header__hero-text {
  color: #CDCDCD;
  margin-top: 42px;
  line-height: 160%;
  width: 460px;
}

.header__hero-button {
  border-radius: 100px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 207px;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  margin-top: 42px;
  background-color: #F1CDB3;
  color: #000;
}

.main__hero-body__img {
  padding-top: 180px;
  z-index: 10;
}

.main-block__image {
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/bg.jpg);
  position: absolute;
  width: 100%;
  height: 908px;
  top: 0;
  left: 0;
}

.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

.main__about__pets-img img {
  margin-top: 80px;
  margin-bottom: 100px;
}

.main__about__pets__title {
  color: #545454;
  margin-top: 94px;
  font-family: "Georgia", sans-serif;
  font-size: 35px;
  width: 370px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.main__about__pets__text {
  color: #4C4C4C;
  margin-top: 25px;
  width: 430px;
  line-height: 160%;
}

.our__friends {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__title {
  text-align: center;
  padding-top: 80px;
  font-family: "Georgia", sans-serif;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
  width: 400px;
}

.our__friends__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends__about {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.arrow0 {
  width: 52px;
  height: 52px;
}

.arrow {
  width: 52px;
  height: 52px;
}

.our__friends__about-animals {
  width: 990px;
  overflow: hidden;
}

.about-animals__block {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our__friends-slider__line {
  gap: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  width: 2790px;
}

.about-animals__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: "Georgia", sans-serif;
  letter-spacing: 0.06em;
}

.about-animals__block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.about-animals-button {
  border-radius: 100px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 187px;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  color: #292929;
  background-color: transparent;
}

.our__friends-button {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__friends-button-get {
  border-radius: 100px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 261px;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  margin-top: 60px;
  background-color: #F1CDB3;
  color: #292929;
}

@media (max-width: 1000px) {
  .main__hero-body__img {
    padding-top: 182px;
  }
  .main__hero-body__img img {
    width: 450px;
    height: 469.34097px;
  }
  .main__hero-body__info {
    padding-top: 200px;
  }
  .main-block__image {
    height: 650px;
  }
  .header__hero-text {
    width: 358px;
  }
  .main__about {
    gap: 40px;
  }
  .main__about__pets__text {
    width: 367px;
  }
  .main__about__pets-img img {
    margin-top: 118px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0px 30px;
  }
  .logo__title {
    padding-top: 30px;
  }
  .main-block__image {
    height: 1165px;
  }
  .menu__list {
    padding-top: 29px;
  }
  .main__hero-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__hero-body__info {
    padding-top: 150px;
    padding-left: 124px;
  }
  .header__hero-text {
    width: 459px;
  }
  .header__hero-button {
    margin-left: 125px;
  }
  .main__hero-body__img img {
    width: 569px;
    height: 593.45559px;
  }
  .main__hero-body__img {
    margin-top: 100px;
    padding-top: 0px;
    margin-left: 139px;
  }
  .main-block__image {
    background-image: url(../../assets/images/bg768.jpg);
  }
  .main__about {
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__about__pets-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__about__pets-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__about__pets__title {
    margin-top: 80px;
  }
  .main__about__pets__text {
    width: 430px;
  }
  .main__about__pets-img img {
    margin-top: 80px;
  }
}

@media (min-width: 1300px) {
  .main__hero-body {
    padding: 0px 20px;
  }
  .header__logo {
    padding: 0px 0px 0px 20px;
  }
  .header__menu {
    padding: 0px 20px 0px 0px;
  }
}
/*# sourceMappingURL=style.css.map */